:root {
  --toastify-color-light: rgba(222, 222, 222, 1);
  --toastify-color-dark: rgba(33, 33, 33, 1);
  --toastify-color-info: rgba(30, 72, 201, 1);
  --toastify-color-success: #2e7d32;
  --toastify-color-warning: #ed6c02;
  --toastify-color-error: #d32f2f;
  --toastify-toast-min-height: 56px;
}

.Toastify__toast-container {
  font-size: 20px;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

html,
body,
nav {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
}

* {
  caret-color: transparent;
}

input:focus,
textarea:focus {
  caret-color: currentColor;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
